<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxccase.dao.CardClassifyDao" >
	<insert id="insertClassify" parameterType="java.util.Map">
			insert into cardclassify values #{classifyid},#{userid},#{content}
	</insert>
	
	<update id="updateClassify" parameterType="java.util.Map">
			update cardclassify set content = #{content} where classifyid = #{classifyid}
	</update>
	
	<select id="selectClassify" parameterType="java.util.Map" resultType="com.wxccase.entity.Userlogin">
			select * from cardclassify where userid = #{userid}
	</select>
	
	<select id="selectClassifyDetail" parameterType="string" resultType="com.wxccase.entity.Userlogin">
			select * from cardclassify where 
			      <if test=" classify != null " > userid = #{userid} AND content=#{content} </if>
			      <if test=" userid != null  and classifyid != null" > userid = #{userid} AND content=#{content} </if>
	</select>
	
	<delete id="deleteClassify" parameterType="java.util.Map">
		delete cardclassify where classifyid = #{classifyid}
	</delete>
</mapper>