<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxccase.dao.FollowDao" >
	
	<insert id="insertFollow" parameterType="java.util.Map">
		insert into follow(followid,userid,cardid) values (#{followid},#{userid},#{cardid})
	</insert>
	
	<delete id="deleteFollow" parameterType="java.util.Map">
		delete from follow where userid = #{userid} and cardid = #{cardid}
	</delete>
	
	<select id="listFollowHelp" parameterType="java.util.Map" resultType="string">
	    select cardid from follow where userid = #{userid} limit #{start},#{size}
	</select>
	
	<select id="listFollow" parameterType="java.util.Map" resultType="java.util.Map">
	    select * from cardinfo where cardid in 
	    	<foreach  item="item"  index="index"  collection="list"  open="("  separator=","  close=")">
					#{item}
			</foreach>
	</select>
	
	<select id="listUser" parameterType="java.util.Map" resultType="java.util.Map">
	    select * from cardinfo 
	    <choose>
			<when test="keywords != null">
				where username like "%${keywords}%" or company like "%${keywords}%" limit #{start},#{size} 
			</when>
			<otherwise>
				limit #{start},#{size}
			</otherwise>
		</choose>
	</select>
	
	<select id="selectByuseridAndcardid" parameterType="java.util.Map" resultType="java.util.Map">
		 select * from follow where userid=#{userid} and cardid=#{cardid}
	</select>
</mapper>