<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxccase.dao.FollowDao" >
	
	<insert id="insertFollow" parameterType="java.util.Map">
		INSERT INTO FOLLOW(FOLLOWID,USERID,CARDID) VALUES (#{followid},#{userid},#{cardid})
	</insert>
	
	<delete id="deleteFollow" parameterType="java.util.Map">
		DELETE FOLLOW WHERE USERID = #{userid} AND　  CARDID = #{cardid}
	</delete>
	
	<select id="listFollow" parameterType="java.util.Map" resultType="java.util.Map">
	    SELRCT * FROM CARDINFO WHERE CARDID IN SELECT CARDID FROM FOLLOW WHERE USERID = #{userid} LIMIT #{start},#{size}
	</select>
	
	<select id="listUser" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT * FROM CARDINFO 
 		<if test=" keywords != null"> WHERE username LIKE %#{keywords}% LIMIT #{start},#{size} UNION ALL SELECT ID FROM FOLLOW where company LIKE %#{keywords}%</if>
		LIMIT #{start},#{size}
	</select>
</mapper>